html{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(195, 195, 195);
    color: white;

    h6,h5,h4,h3,h2,h1{
        margin-top: 2px;
        margin-bottom: 0%;
    }
}

head{
    background-color: rgb(195, 195, 195);
    color: white;
}

body{
    color: white;
    background: #5e5e5e;
    background: radial-gradient(circle, rgba(94, 94, 94, 1) 0%, rgba(18, 18, 18, 1) 50%);
    padding-left: 8px;
    padding-right: 8px;
}


#title{
    margin-bottom: 2px;
    color:aqua;

}
#titleBio{
    margin-top: 0%;
    margin-bottom: 5px;
}

#updateDate{
    text-align: left;
    font-size: 8px;
    color: rgb(213, 213, 213);
}

.section{
    border: 2px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
    border-radius: 3px;
    border-width: 4x;
    padding-left: 5px;
    padding-right: 5px;
    background: #002542;
    background: radial-gradient(circle,rgba(0, 37, 66, 1) 0%, rgba(0, 0, 0, 1) 100%);
    margin-top: 5px;
    margin-bottom: 5px;
}

.section p{
    margin-top: 5px;

}
.section h3,.section h4,.section h5{
    margin-bottom: 2px;

}
.section ul{
    margin-top: 2px;
    padding-left: 18px;
}

.section h6{
    margin-top: 0%;
    margin-bottom: 10px;
}

.section img{
    size: 50%;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 30vw;
    min-width: 30px;
    
}

.section .imgs{
    size: 50%;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 30vw;
    min-width: 30px;
}

.section .imgs h6{
    padding: 10px;
    size: 5px;

}


footer{
    margin-top: 5px;
}

#footerId{
    display: flex;
    justify-content: space-between;
    align-items: center; /* optional */
}

footer #credit{
    size: 3px;
    color: grey;

}

/* #flightBanner{
    display: flex;
    justify-content: flex-end;
}

#flightBanner2{
    display: flex;
    justify-content: flex-start;
} */